container{
  align-content: center;
  box-sizing: border-box;
  /* display: grid; */
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
  padding: 20px 0;
  text-align: center;
}

#navBar {
    background-color: lightgrey;
    display: flex;    
    width: 900px;

}

#navBarLink {
    text-align: center;
    font-size: 10px;
    color: lightgrey;

}